<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeView</title>
</head>
<body>
    <div> 
        <br />
        Welcome to My First ASP.NET MVC Home Page! <br />
        Login Time is : @Session["StartDateTime"] <br />
        Author Name is : @TempData["Name"] <br />
        Current Time is (ViewData): ViewData["CurrentDateTime"] <br />
        <br />
        <br />
        <a href="/CustomerUI/ShowCustomerView"> Add New Customers</a><br />
        <a href="/CustomerUI/ShowSearchCustomerView"> Search Customers </a><br />
        <a href="/CustomerUI/ShowCustomerGridView"> Show Customers </a><br />
    </div>
</body>
</html>
