@model CustomerApplication.ViewModels.Customer.IndividualCustomerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerView</title>
    @*<script src="../Scripts/jquery-1.10.2.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>*@
</head>
@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
<body>
    <div>
        <div id="LoadingLabel">sss</div>
         <script type="text/javascript">
  

    // Do your custom javascript for this view here. Will be run after 
        // loading all the other scripts.
             alert("hsdshd");
             //document.getElementById('LoadingLabel').innerHTML = 'Testing....';
     $("#LoadingLabel").text("Tesing...");
    
    </script>
                
           
        
    </div>    

</body>

</html>
