@model CustomerApplication.ViewModels.Customer.IndividualCustomerViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body ng-app="myApp">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Customer.js"></script>

    <script language="javascript">
        var app = angular.module("myApp", []); // creating a APP
        app.controller('CustomerViewModel', CustomerViewModel); // Registering the VM
    </script>
    <br />
    <div>
        <div ng-controller="CustomerViewModel">
            <form id="CustomerForm">
                <i>Customer Code  :</i> <input id="Customer.CustomerCode" ng-model="Customer.CustomerCode" type="text" name="Customer.CustomerCode" /><br />
                @Html.ValidationMessageFor(x => x.Customer.CustomerCode)<br />

                <i>Customer Name  :</i> <input id="Customer.CustomerName" ng-model="Customer.CustomerName" type="text" name="Customer.CustomerName" /> <br />
                @Html.ValidationMessageFor(x => x.Customer.CustomerName)<br />


                <i>Customer DOB   : </i> <input id="Customer.CustomerDob" ng-model="Customer.CustomerDob" type="text" name="Customer.CustomerDob" /><br />
                @Html.ValidationMessageFor(x => x.Customer.CustomerDob)<br />

                <i>Customer Amount:</i> <input id="Customer.CustomerAmount" type="text" ng-model="Customer.CustomerAmount" 
                                               style="background-color: {{ Customer.CustomerAmountColor }}"
                                               name="customer.CustomerAmount" /><br />
            </form>
            <br />
            <input id="Btn" type="button" value="Add customer" ng-click="Add()" />
            <input id="Btn" type="button" value="Update customer" ng-click="Update()" />
            <input id="Btn" type="button" value="Delete customer" ng-click="Delete()" />

            <br />
            <table id="CustomerDispalyTable">
                <tr>
                    <td>Customer Code</td>
                    <td>Customer Name</td>
                    <td>Customer Dob</td>
                    <td>Customer Amount</td>
                </tr>
                <tr ng-repeat="cust in Customers">
                    <td>{{cust.CustomerCode}}</td>
                    <td>{{cust.CustomerName}}</td>
                    <td>{{cust.CustomerDob}}</td>
                    <td style="background-color: {{ cust.CustomerAmountColor }}">
                        {{cust.CustomerAmount}}
                    <td><a ng-click="LoadByCode(cust.CustomerCode)" href="#">Select</a></td>
                </tr>
            </table>
        </div>
        <a href="/CustomerUI/ShowSearchCustomerView"> Search Customer </a> <br />
    </div>
</body>
</html>
