@model CustomerApplication.ViewModels.Customer.IndividualCustomerViewModel
@using CustomerApplication.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchCustomer</title>
</head>
<body ng-app="myApp">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Customer.js"></script>

    <script language="javascript">
        var app = angular.module("myApp", []); // creating a APP
        app.controller('CustomerViewModel', CustomerViewModel); // Registering the VM
    </script>
    <div ng-controller="CustomerViewModel">
        <br />
        Enter Customer Name : <input name="CustomerName" id="CustomerName" type="text" ng-model="Customer.CustomerName" />
        <br />
        <input id="SearchCustomer" name="SearchCustomer" type="button" value="Search Customer" ng-click="LoadByName(Customer.CustomerName)" />            
        @Html.Partial("DisplayCustomers", Model)
    </div>
    <br />

   

</body>
</html>
